
target/
gdrive/
dbt_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
**/*.duckdb
**/*.duckdb.wal
*.sh
*.csv
*.zip
images/
etc/
prior/
compiled/
run/
tmp_docs/
*.html
*.json
*.msgpack
*.gpickle
latest/

!docs/**